{% extends 'base.html' %}
{% block title %}Dashboard {% endblock title %}

{% block body %}
{% if user.is_authenticated %}
<style>
    /* CSS for background and button color */
    section{
        padding:24px 0;
    }

    .carousel-item {
        position: relative;
        width: 100%;
        height: 100vh; /* Set height of carousel to full viewport height */
    }

    .carousel-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the video covers the entire container */
    }

    .carousel-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }


    .contact {
        position: relative;
        width: 100%;
        height: 100vh; /* Set height of section to full viewport height */
        color: #fff; /* Set text color to white */
    }

    .video-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the video covers the entire container */
    }

    .container {
        position: relative;
        z-index: 1; /* Ensure the content appears above the video background */
    }

    .btn-upload {
        background-color: #cc1ef7; /* Set button background color */
        color: #ffffff; /* Set button text color */
    }
    .btn-upload:hover {
        background-color: #cc1ef7; /* Set button background color */
        color: #000000; /* Set button text color */
    }
    .welcome-text{
        color:#FFFFFF;
    }

    .welcome-text:hover{
        color:#fb00ff;
    }
</style>

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="welcome-text">Welcome, <b>{{fname}}</b></h2>
        </div>
    </div>
    <video autoplay muted loop class="carousel-video">
        <source src="static/img/background.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section><!-- End Breadcrumbs -->
<script>
    window.onload = function() {

        document.getElementById('qbFile').addEventListener('change', function() {

           var fileInput = this;
           var file = fileInput.files[0];
           var allowedExtensions = /(\.csv)$/i;

            if (!allowedExtensions.exec(file.name)) {

                alert('Please upload a file with a .csv extension.');
                fileInput.value = '';
            }
        });
    }
</script>
<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mt-lg-0 m-auto">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Enter Details</h2>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 form-group">
                            <label class="form-group" for="{{form.college_name.id_for_lable}}">College Name</label>
                            {{form.college_name}}
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <label class="form-group" for="{{form.branch_name.id_for_lable}}">Branch Name</label>
                            {{form.branch_name}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 form-group">
                            <label class="form-group" for="{{form.college_name.id_for_lable}}">Year</label>
                            {{form.year}}
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <label class="form-group" for="{{form.branch_name.id_for_lable}}">Semester</label>
                            {{form.semester}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 form-group">
                            <label class="form-group" for="{{form.college_name.id_for_lable}}">Subject Name</label>
                            {{form.subject_name}}
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <label class="form-group" for="{{form.branch_name.id_for_lable}}">Faculty Name</label>
                            {{form.faculty}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 form-group">
                            <label class="form-group" for="{{form.college_name.id_for_lable}}">Exam Format</label>
                            {{form.paper_format}}
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <label class="form-group" for="{{form.branch_name.id_for_lable}}">Number Of Sets</label>
                            {{form.number_of_sets}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <label class="form-group" for="{{form.branch_name.id_for_lable}}">Question Format</label>
                            <select name="marks_format" class="form-control" id="id_marks_format">
                                <option value="Six_Five_Four_Midsem">6-5-4, 6-5-4</option>
                                <option value="Five_Five_Five_Midsem">5-5-5, 5-5-5</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="form-group" for="{{form.college_name.id_for_lable}}">Exam Date</label>
                            {{form.date}}
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <label class="form-group" for="{{form.branch_name.id_for_lable}}">Upload Question Paper (CSV only)</label>
                            <input type="file" id="qbFile" name="qb" accept=".csv" required>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button class="btn btn-upload" type="submit">submit</button>
                    </div>
                    
                </form>
            </div>
        </div>
</section>
<!-- End Log In Section -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    
    values_ = $('#id_paper_format').val()
    if (values_==="70 Marks"){
        option = `<option value="Six_Six_Five_EndSem">6-6-6, 6-6-6, 6-6-5, 6-6-5</option>
                    <option value="Nine_Eight_EndSem">9-9, 9-9, 9-8, 9-8</option>`
        $('#id_marks_format').html(option)
    }
    else if(values_==="30 Marks"){
        elem = `<option value="Six_Five_Four_Midsem">6-5-4, 6-5-4</option>
                <option value="Five_Five_Five_Midsem">5-5-5, 5-5-5</option>`
        $('#id_marks_format').html(elem)
    }

    $('#id_paper_format').change(function(){
        if (this.value==="70 Marks"){
            option = `<option value="Six_Six_Five_EndSem">6-6-6, 6-6-6, 6-6-5, 6-6-5</option>
                      <option value="Nine_Eight_EndSem">9-9, 9-9, 9-8, 9-8</option>`
            $('#id_marks_format').html(option)
        }
        else if(this.value==="30 Marks"){
            elem = `<option value="Six_Five_Four_Midsem">6-5-4, 6-5-4</option>
                    <option value="Five_Five_Five_Midsem">5-5-5, 5-5-5</option>`
            $('#id_marks_format').html(elem)
        }
    })
</script>
{% endif %}
{% endblock body %}